<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>
        Shooked
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->

    <link href="{{ url_for('static', filename='css/material-dashboard.css') }}" rel="stylesheet"/>
</head>

<body class="">
<div class="wrapper ">
    <div class="sidebar" data-color="azure" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo">
            <a href="#" class="simple-text logo-normal">
                <img class="card-img-top" src="{{url_for('static', filename='images/shookedin.jpg')}}" />
                {{ username }}
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/userdash">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/userbook">
                        <i class="material-icons">library_books</i>
                        <p>Books</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/usergenre">
                        <i class="material-icons">library_books</i>
                        <p>Genre</p>
                    </a>
                </li>
                               <li class="nav-item ">
                    <a class="nav-link" href="/userlibrary">
                        <i class="material-icons">library_books</i>
                        <p>Library</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end">

                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">person</i>
                                <p class="d-lg-none d-md-block">
                                    Some Actions
                                </p>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/logout">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-header card-header-info">
                                <h4 class="card-title">Books</h4>
                            </div>
                            <div class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                    <th>Book</th>
                                    <th>Author</th>
                                    <th>Description</th>
                                    <th>Genre/s</th>
                                    </thead>
                                    <tbody>
                                   {% for book in books %}
                                            <tr>
                                                <td>{{ book.book_name }}</td>
                                                <td>{{ book.author }}</td>
                                                <td>{{ book.description }}</td>
                                                <td>
                                                {% for genre in book.genres %}
                                                    {{ genre.genre }} ,
                                                {% endfor %}
                                                </td>

                                                <td class="text-center">
                                                    <button value="{{ book.id }}" class="btn btnnn btn-success"
                                                            data-toggle="modal"
                                                            data-target="#exampleModal2"><i
                                                            class="material-icons">library_add</i></button>
                                                </td>

                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">

                <div class="copyright text-center">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script><i class="material-icons">favorite</i>
                    <a href="#" target="_blank">SHOOKED</a>
                </div>
            </div>
        </footer>
    </div>
</div>
<!--   Core JS Files   -->

<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/core/popper.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/core/bootstrap-material-design.min.js') }}"
        type="text/javascript"></script>
<!--  Notifications Plugin    -->
<script src="{{ url_for('static', filename='js/bootstrap-notify.js') }}"></script>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Add to MyBook</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/addBookToGenre" method="post">
                    <label class="form-label">Book</label>
                    <select name="bookid" id="ako" class="form-control">
                    </select>

                    <select disabled="" id="ikaw" class="form-control">
                    </select>

                    <div class="float-right">
                        <button type="submit" class="btn btn-success">Add
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>