<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shooked - Add Genre</title>


<!-- Bootstrap core CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/all.min.css') }}" />

    <!-- Custom styles for this template-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sb-admin.css') }}" />


  </head>

  <body class="bg-warning">

    <div class="container">
      <div class="card card-register mx-auto mt-5">
        <div class="card-header">Add a genre in Shooked</div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="bookname" class="form-control" placeholder="book name" required="required" autofocus="autofocus">
                    <label for="bookname">Genre Name</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="authorname" class="form-control" placeholder="author name" required="required">
                    <label for="authorname">Type</label>
                  </div>
                </div>
              </div>
            </div>

           
            <a class="btn btn-primary btn-block" href="/gen">Add Genre</a>
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" href="/dashboard">Dashboard</a>
          </div>
        </div>
      </div>
    </div>

 <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>

  </body>

</html>
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shooked - Add Book</title>


<!-- Bootstrap core CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/all.min.css') }}" />

    <!-- Custom styles for this template-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sb-admin.css') }}" />


  </head>

  <body class="bg-warning">

    <div class="container">
      <div class="card card-register mx-auto mt-5">
        <div class="card-header">Add a book in Shooked</div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="bookname" class="form-control" placeholder="book name" required="required" autofocus="autofocus">
                    <label for="bookname">Book Name</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="authorname" class="form-control" placeholder="author name" required="required">
                    <label for="authorname">Author Name</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="description" class="form-control" placeholder="description" required="required" autofocus="autofocus">
                    <label for="lastName">Description</label>
                  </div>
                </div> 
              </div>
            </div>
            <a class="btn btn-primary btn-block" href="/bok">Add Book</a>
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" href="/dashboard">Dashboard</a>
          </div>
        </div>
      </div>
    </div>

 <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>

  </body>

</html>
