<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico"/>
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>Shooked - Register an Account</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">

    <script>
        requirejs.config({
            baseUrl: '.'
        });
    </script>
    <!-- Dashboard Core -->
    <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet"/>
</head>
<body class="">
<div class="page">
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col col-login mx-auto">
                    <!--Registration Form-->
                    <img class="card-img-top" src="{{url_for('static', filename='images/shookedin.jpg')}}" />
                    <form action="" class="card" method="post" required name="RegForm" onsubmit="return validation()">
                        {{ form.hidden_tag() }}
                        <div class="card-body">
                            <div class="card-title text-center">Create new account</div>
                            <div class="form-group">
                                <label class="form-label">User Name</label>
                                {{ form.username(class='form-control') }}
                                <label class="form-sm-text"><h8>(Username must at least 6 characters)</h8></label>
                            </div>
                            <div class="form-group">
                                <label class="form-label">First Name</label>
                                {{ form.firstname(class='form-control') }}
                            </div>
                            <div class="form-group">
                                <label class="form-label">Last Name</label>
                                {{ form.lastname(class='form-control') }}
                            </div>
                            <div class="form-group">
                                <label class="form-label">Email address</label>
                                {{ form.email(class='form-control') }}
                                <label class="form-sm-text"><h8>(Email Address must at least 6 characters)</h8></label>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Phone</label>
                                {{ form.phone(class='form-control') }}
                            </div>
                            <div class="form-group">
                                <label class="form-label">Password</label>
                                {{ form.password(class='form-control') }}
                                <label class="form-sm-text"><h8>(The password is at least 8 characters, at least 1 uppercase letters, 1 lowercase letters, 1 numbers and 1 special characters.)</h8></label>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Confirm Password</label>
                                <input type="password" id ="password2" class="form-control" name="password2" value>
                            </div>

                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary btn-block">Create new account</button>
                            </div>
                        </div>
                    </form>
                    <div class="text-center text-muted">
                        Already have account? <a href="/">Sign in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Validation Script-->
    <script>
    function validation()
    {
        var uname = document.forms["RegForm"]["username"];
        var fname = document.forms["RegForm"]["firstname"];
        var lname = document.forms["RegForm"]["lastname"];
        var email = document.forms["RegForm"]["email"];
        var phone = document.forms["RegForm"]["phone"];
        var pass1 = document.forms["RegForm"]["password"];
        var pass2 = document.forms["RegForm"]["password2"];



        if(uname.value=="")
            {
            window.alert("Please enter username");
            name.focus();
            return false;
            }
        if((fname.value==""))
        {
            window.alert("Please enter First name");
            fname.focus();
            return false;
        }
        if(lname.value=="")
        {
            window.alert("Please enter your Last name");
            lname.focus()
            return false;
        }
        if (email.value == "")
    {
        window.alert("Please enter a valid e-mail address.");
        email.focus();
        return false;
    }

    if (email.value.indexOf("@", 0) < 0)
    {
        window.alert("Please enter a valid e-mail address.");
        email.focus();
        return false;
    }

    if (email.value.indexOf(".", 0) < 0)
    {
        window.alert("Please enter a valid e-mail address.");
        email.focus();
        return false;
    }
    if (phone.value=="")
    {
        window.alert("Please enter phone number");
        phone.focus();
        return false;
    }

    /*if(phone.isInteger(0-999))
    {
        window.alert("Please enter number");
        phone.focus();
        return false;
    }*/

    if (pass1.value == "")
    {
        window.alert("Please enter your password");
        pass1.focus();
        return false;
    }
    if (pass1.value!=pass2.value)
    {
        window.alert("Passwords don't match")
        pass1.focus();
        return false;
    }

        return true;
    }
</script>
    <!-- End of Validation Script-->
</div>
</div>
</body>
</html>
