<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Registration</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}" />




</head>
<body>
<div class="container">
	<section id="content">
		<form action="/register" method="POST">
			<h1>Welcome</h1>
			<div>
				<input type="text" placeholder="Username" name="username" min="6" max="8" required="" />
			</div>
			<div>
				<input type="text" placeholder="Firstname" min="3" max="9" name="firstname" required="" />
			</div>
            <div>
				<input type="text" placeholder="Lastname" min="2" max="9" name="lastname" required=""  />
			</div>
            <div>
				<input type="text" placeholder="Email" min="" name="email" required=""  />
			</div>
            <div>
				<input type="text" placeholder="Phone" name="phone" required=""  />
			</div>
            <div>
				<input type="password" placeholder="Password" name="password" required="" />
			</div>
            <div>
				<input type="password" placeholder="Confirm Password" name="password2" required=""  />
			</div>
			<div>
				<input type="submit" value="Register" />

			</div>
            <div>
                <a href="/" class="text-center" >Login</a>
            </div>
            <br>
		</form><!-- form -->

	</section><!-- content -->
</div><!-- container -->

<!-- Modal For Registration -->



</body>

</html>